services:
  redis:
    image: srg2526-docker:5000/srg2526-redis-multi
    volumes:
        - type: volume
          source: redis-vol
          target: /data

  webapp:
    image: srg2526-docker:5000/srg2526-web
    volumes:
        - type: bind
          source: /vagrant/ej4/src 
          target: /src
    ports:
        - "80:5000"
    healthcheck:
        test: ["CMD", "curl", "--fail", "http://127.0.0.1:5000"]
        interval: 15s
    depends_on:
      - "redis"
    deploy:
        replicas: 3

volumes:
  redis-vol:
    external: true
